/** @format */
.contenitore {
  margin-top: 1.5em;
}
.contenitore .m-3 {
  border-radius: 15px;
  background: rgb(19, 20, 20);
  background: linear-gradient(
    180deg,
    rgba(19, 20, 20, 1) 19%,
    rgba(11, 11, 11, 0.1503195028011205) 100%
  );
  color: white;

  margin-top: 2em;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 5px 5px rgba(196, 149, 229, 0.503);
}

.card img {
  border-radius: 10px 10px 0 0;
}

.card .btn {
  margin-top: 1rem;
  border-radius: 5px;
}

.card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card small {
  font-style: italic;
  color: #888;
}

.card .card-text {
  font-size: 1rem;
  line-height: 1.4;
}

.card .card-img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .card {
    margin-bottom: 10px;
  }
  .pagination {
    margin-top: 10px;
  }
}

.edit {
  margin-right: 1em;
}

.mod-buttons {
  margin-bottom: 1em;
}
